<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="navbar-brand">
            <div class="Addressbook-icon">
                <img src="assets/images/Addressbook-icon.png">
            </div>
        </a>
        <span>Imenik</span>
        <span class="example-spacer"></span>
        <mat-icon>brightness_5</mat-icon>
        <mat-slide-toggle color="primary" style="position: right; padding: 4px;" (click)="changeThema()"></mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>