/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-image: url('/assets/brushed.png');
}

@import '~@angular/material/theming';
@include mat-core();

.custom-theme {

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$theme: mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

@include angular-material-theme($theme);
}

.w-100 {
  width: 100% !important;
}