.example-container {
    border: 3px dotted plum;
    color: red !important;
}

.card-popis{
    padding-top: 30px;
}

.w-10 {
    width: 10% !important;
    padding-right: 50px;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
  
 